/* Add a black background color to the top navigation */
.navBar {
    background-color: rgb(68, 44, 44);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .navBar a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the color of links on hover */
  .navBar a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navBar a.active {
    background-color: #684c3a;
    color: white;
  }

  #buttonBox {
      margin-top: 15px;
  }

  img {
    width: 100%;
    height: auto;
  }

  #div1 {
      margin-top: 10px;
  }

  body {
      background-color:bisque;
  }

  #div2 {
      margin-left: 40px;
      margin-top: 30px;
  }